body {
  background: #141115;
  background: -moz-linear-gradient(left, #141115 0%, #000000 100%);
  background: -webkit-linear-gradient(left, #141115 0%, #000000 100%);
  background: linear-gradient(to right, #141115 0%, #000000 100%);
  font-family: monospace;
  font-size: 16px;
  color: #77E874;
}

#banner {
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 15px 20px #000000;
  box-shadow: 0px 1px 15px 20px #000000;
}

#text {
  position: relative;
  z-index: 1;
}

div.portal-wrapper {
  position: absolute;
  z-index: -1;
  left: 65%;
  top: 5%;
}

div.all-chars-container {
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 2em;
  background-color: #000000;
  border: 1px solid #F8F4E3;
  -webkit-box-shadow: 5px 5px 15px 5px #F8F4E3;
  box-shadow: 5px 5px 15px 5px #F8F4E3;
}

div.character-container {
  padding: 2em;
  border-radius: 3px;
  background-color: #000000;
}

select.character-dropdown {
  margin: 2em auto 2em auto;
  width: auto;
}

}
h1.header {
  display: flex;
  justify-content: center;
  color: #77F722;
  padding: 2em;
  font-size: x-large;
  }

div.dropdown-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  overflow: scroll;
  text-align: center;
  /* background-color: #0B160B; */
}

.dropdown-wrapper select {
  color: #77F722 ;
  font-size: large;
  padding: 5px 8px;
  background: #141115;
  background: -moz-linear-gradient(left, #141115 0%, #000000 100%);
  background: -webkit-linear-gradient(left, #141115 0%, #000000 100%);
  background: linear-gradient(to right, #141115 0%, #000000 100%);
}
